/* 	
	Underscore CSS Overides
	J Ginn 2018
	Simple Blog Template 
*/

/* Font Import */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Resets */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Typography */
* {
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #eee;
}

ul, ol {
	margin: inherit;
}

/* Main Sections */
#page {
	background-color: #fff;
	width: 60%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border: solid 1px;
	padding: 25px;
}

.site-branding {
	border: solid 1px;
	padding: 10px;
	margin-bottom: 10px
}

#secondary {
	border: solid 1px green;
	padding: 5px;
	width: 30%;
	display: block;
	float: left;
}

#primary {
	width: 70%;
	display: block;
	float: left;
}

#site-navigation {
	border: solid 1px red;
	padding: 2px;
	margin-bottom: 10px;
}

/* Posts */
.post {
	border: solid 1px blue;
	padding: 10px;
	margin-right: 10px;
}

.entry-title {
	margin: 2px;
}

.entry-meta, .entry-footer {
	font-size: 75%;
}

/* Widgets */
.widget {
	font-size: 80%;
	border: 1px solid;
	margin-top: 0px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.search-field {
	width: 100%;
}

/* Footer */
.site-info {
	font-size: 75%;
}

/* Nav Links */
.page_item {
	background-color: pink;
	padding: 5px;
}